
# File types to be ignored
*.swp
*.py~
*.pyc
*.jpeg
*.jpg
*.cpp~
talker.cpp
listener.cpp

#to ignore folders use -
#example/
CMake_install.cmake
build/
bin/
lib/
msg_gen/
srv_gen/
.cproject
.project
.pydevproject


address.txt
